.badge {
  font-size: 10px;
}

.bg-white\/50 {
  background-color: rgb(79, 107, 149);
}

.fondo {
  background-color: rgb(8, 14, 40);
}

.carousel {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgb(8, 14, 40, 0.8),
    rgb(8, 14, 40, 0.2),
    rgb(8, 14, 40, 0.7),
    rgb(8, 14, 40, 1) 100%
  );
}

.carousel-img {
  background-image: url("https://image.tmdb.org/t/p/w1280/bQXAqRx2Fgc46uCVWgoPz5L5Dtr.jpg");
  background-position: center center;
  background-size: cover;
}

.carousel-img2 {
  background-image: url("https://image.tmdb.org/t/p/w1280/198vrF8k7mfQ4FjDJsBmdQcaiyq.jpg");
  background-position: center center;
  background-size: cover;
}
.carousel-img3 {
  background-image: url("https://image.tmdb.org/t/p/w1280/rfnmMYuZ6EKOBvQLp2wqP21v7sI.jpg");
  background-position: center center;
  background-size: cover;
}

.carousel-img4 {
  background-image: url("https://image.tmdb.org/t/p/w1280/vNuHqmOJRQXY0PBd887DklSDlBP.jpg");
  background-position: center center;
  background-size: cover;
}

.carousel-img5 {
  background-image: url("https://image.tmdb.org/t/p/w1280/6T0ioZM9ZyXXLBhcUixLJpN4q9i.jpg");
  background-position: center center;
  background-size: cover;
}

.dropmenu {
  position: absolute;
  right: -100px;
  top: 100%;
  background-color: #1e2747;
  border-radius: 5px;

  padding: 0.5rem;
  box-shadow: 0 0 30px rgb(0 0 0 / 20%);
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-name: zoom;
}

.title {
  font-size: calc(1.25vw + 1.25vh + 1.8rem);
  letter-spacing: -1px;
  line-height: 1.3;
}

.sera {
  max-height: max-content;
}
.sera2:focus {
  color: red;
  background-color: aqua;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: white;
}

.swiper-pagination-bullet-active {
  background: red;
}

nav {
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: transparent;
}

@media screen and (max-width: 350px) {
  .sera {
    height: 44rem;
  }
  .title {
    line-height: 1;
  }
}

@media (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
}

@media screen and (max-width: 1200px) {
}
