<section class="flex flex-col items-center sticky top-24">
  <div class="text-base font-bold titles recomendado w-full text-center mb-5">
    RECOMENDADOS
  </div>
  <ul class="flex flex-col gap-5">
    <li
      *ngFor="let i of recomendados"
      class="flex items-center justify-center gap-3 group cursor-pointer efect2"
    >
      <div class="relative overflow-hidden fondo max-w-max">
        <div class="efect flex items-center gap-5 fondo">
          <img
            class="rounded-md h-40 w-28 object-cover fondo"
            [src]="getURL(i.poster_path)"
            alt=""
          />
        </div>
      </div>
      <div class="text-base text-white titleAside">
        <div class="group-hover:text-blue-500">{{ i.title }}</div>
        <div class="text-yellow-500 text-lg">{{ i.vote_average }}/10</div>
        <div class="text-sm text-blue-300">{{ i.release_date }}</div>
      </div>
    </li>
  </ul>
</section>
