<div>
  <nav class="bg-transparent relative">
    <!-- aqui habia z-10 -->
    <div
      class="flex items-center justify-between lg:justify-around mx-auto h-24 z-50"
    >
      <a href="#" class="flex items-center pb-1 max-lg:ml-5 z-10">
        <img
          src="https://flowbite.com/docs/images/logo.svg"
          class="mr-3 max-sm:h-14 max-sm:w-14 h-16 w-16"
          alt="Flowbite Logo"
        />
        <span class="text-3xl font-semibold whitespace-nowrap text-white"
          >Cinecalidad</span
        >
      </a>

      <div class="z-10 hidden w-full lg:block md:w-auto" id="navbar-dropdown">
        <ul
          class="flex flex-col justify-center gap-1 mt-4 rounded-lg bg-transparent md:flex-row lg:space-x-8 md:mt-0 md:text-base md:border-0 md:bg-transparent"
        >
          <li>
            <div class="">
              <div class="group relative">
                <button
                  class="bg-transparent text-white font-normal py-2 rounded inline-flex items-center transition duration-300 ease-in-out opacity-100"
                >
                  <span class="mr-1 sm:hover:text-blue-700">Inicio</span>
                </button>
              </div>
            </div>
          </li>

          <li>
            <div class="">
              <div class="group relative">
                <button
                  class="bg-transparent text-white font-normal py-2 rounded inline-flex items-center transition duration-300 ease-in-out opacity-100"
                >
                  <span class="mr-1 sm:hover:text-blue-700">Géneros</span>
                  <svg
                    class="fill-current h-4 w-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                    />
                  </svg>
                </button>
                <ul
                  class="absolute hidden text-gray-700 pt-1 group-hover:block transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 listitas rounded text-sm"
                >
                  <li class="">
                    <a
                      class="rounded-t fondito text-white hover:text-blue-700 py-2 px-5 block whitespace-no-wrap"
                      href="#"
                      >One</a
                    >
                  </li>
                  <li class="">
                    <a
                      class="fondito py-2 text-white px-4 hover:text-blue-700 block whitespace-no-wrap"
                      href="#"
                      >Two</a
                    >
                  </li>
                  <li class="">
                    <a
                      class="rounded-b fondito text-white py-2 hover:text-blue-700 px-4 block whitespace-no-wrap"
                      href="#"
                      >Three is the magic number</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <div class="">
              <div class="group relative">
                <button
                  class="bg-transparent text-white font-normal py-2 rounded inline-flex items-center transition duration-300 ease-in-out opacity-100"
                >
                  <span class="mr-1 sm:hover:text-blue-700">Películas</span>
                  <svg
                    class="fill-current h-4 w-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                    />
                  </svg>
                </button>
                <ul
                  class="absolute hidden text-gray-700 pt-1 group-hover:block transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 listitas rounded text-sm"
                >
                  <li class="">
                    <a
                      class="rounded-t fondito text-white hover:text-blue-700 py-2 px-4 block whitespace-no-wrap"
                      href="#"
                      >One</a
                    >
                  </li>
                  <li class="">
                    <a
                      class="fondito py-2 text-white px-4 hover:text-blue-700 block whitespace-no-wrap"
                      href="#"
                      >Two</a
                    >
                  </li>
                  <li class="">
                    <a
                      class="rounded-b fondito text-white py-2 hover:text-blue-700 px-4 block whitespace-no-wrap"
                      href="#"
                      >Three is the magic number</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </li>

          <li>
            <div class="">
              <div class="group relative">
                <button
                  class="bg-transparent text-white font-normal py-2 rounded inline-flex items-center transition duration-300 ease-in-out opacity-100"
                >
                  <span class="mr-1 sm:hover:text-blue-700">Series</span>
                  <svg
                    class="fill-current h-4 w-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                    />
                  </svg>
                </button>
                <ul
                  class="absolute hidden text-gray-700 pt-1 group-hover:block transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 listitas rounded text-sm"
                >
                  <li class="">
                    <a
                      class="rounded-t fondito text-white hover:text-blue-700 py-2 px-4 block whitespace-no-wrap"
                      href="#"
                      >One</a
                    >
                  </li>
                  <li class="">
                    <a
                      class="fondito py-2 text-white px-4 hover:text-blue-700 block whitespace-no-wrap"
                      href="#"
                      >Two</a
                    >
                  </li>
                  <li class="">
                    <a
                      class="rounded-b fondito text-white py-2 hover:text-blue-700 px-4 block whitespace-no-wrap"
                      href="#"
                      >Three is the magic number</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <form class="z-10 search items-center rounded-3xl hidden lg:flex">
        <div class="relative">
          <input
            type="text"
            id="simple-search"
            class="xl:focus:w-60 text-sm rounded-3xl focus:ring-blue-500 focus:border-blue-800 block w-full pl-10 p-2.5 font-normal place"
            placeholder="Buscar películas..."
            required
          />
          <span class="absolute top-3 right-3 cursor-pointer hover:scale-125">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="3"
              stroke="currentColor"
              class="w-4 h-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
              />
            </svg>
          </span>
        </div>
      </form>
      <button class="z-10 text-white hidden lg:block animacion2">Entrar</button>
      <button
        type="button"
        class="z-10 animacion max-lg:hidden text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 rounded-full text-base px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Registro
      </button>
    </div>
    <div
      appNavbar
      class="transition-all duration-300 ease-in-out absolute -top-full left-0 z-0 text-lg w-full h-full"
    ></div>
  </nav>
</div>
