<div class="flex justify-between h-80 bg-red-700 desactivateAside">
  <div
    class="h-12 fondo pl-16 pr-16 pb-5 max-md:pr-4 max-md:pl-4 max-lg:pr-1 max-lg:pl-8 flex flex-wrap items-center text-center"
  >
    <h2 class="font-bold text-4xl text-white pr-6">Películas</h2>
    <section class="flex items-center gap-6 mt-3 fondo overflow-x-auto">
      <div class="titles">ULTIMAS</div>
      <div class="titles">ESTRENOS</div>
      <div class="titles">RANKING</div>
      <div class="titles w-full">MAS VISTAS</div>
      <div class="titles">PROXIMAMENTE</div>
    </section>
  </div>
  <div class="w-80 bg-blue-600 text-5xl aside mt-12">hola</div>
</div>

<!-- <div *ngFor="let i of discover">
  <div class="w-full h-full">
    <div class="que2 relative overflow-hidden">
      <div class="que w-full flex flex-col items-center">
        <img
          class="rounded-lg max-h-36"
          [src]="getURL(i.backdrop_path)"
          alt=""
        />
      </div>
    </div>
    <div class="text-white text-sm group-hover:text-blue-600 z-50 text-center">
      {{ i.name }}
    </div>
  </div>
</div>
 -->
