.fondo {
  background-color: rgb(8, 14, 40);
}

.titles {
  color: #4f6b95;
  font: 400 1rem/1.5625rem sans-serif;
}

.neon {
  height: 100%;
  background-color: rgb(8, 14, 40);

  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s;
  overflow: visible;
}

.neon:hover {
  color: white;
  text-shadow: 0 0 2px rgb(0, 122, 255), 0 0 4px rgb(0, 122, 255),
    0 0 6px rgb(0, 122, 255), 0 0 10px rgb(0, 122, 255);
  font-weight: 600;
}

.neon::after {
  position: absolute;
  bottom: 50%;
  left: 50%;
  content: "";
  width: 0%;
  height: 2px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.padre {
  width: max-content;
}

.active::after {
  content: "";
  overflow: visible;
  color: white;
  background-color: white;
  height: 1px;
  left: 0;
  bottom: 0;
  width: 100%;

  box-shadow: 0 0 1px rgb(0, 122, 255), 0 0 2px rgb(0, 122, 255),
    0 0 3px rgb(0, 122, 255), 0 0 4px rgb(0, 122, 255), 0 0 5px rgb(0, 122, 255),
    0 0 6px rgb(0, 122, 255), 0 0 7px rgb(0, 122, 255), 0 0 8px rgb(0, 122, 255),
    0 0 9px rgb(0, 122, 255);
}

.active {
  color: white;
  font-weight: 600;
}
.active:hover {
  text-shadow: none;
}
/* 1F51FF   29d0fd    rgb(0, 122, 255)*/

.que::before {
  content: "\f04b";
  animation-duration: 0.3s;
  display: none;
  position: absolute;
  width: 3.75rem;
  height: 3.75rem;
  line-height: 3.5rem;
  border: 2px solid #fff;
  border-radius: 50%;
  font-size: 1.25rem;
  text-align: center;

  font-family: "Font Awesome 5 Free";
  font-weight: bold;

  color: white;

  z-index: 20;

  animation-name: zoomIn;

  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  /* content: "\f04b";
  width: 3.75rem;
  height: 3.75rem;
  line-height: 3.75rem;
  text-align: center;
  border: 2px solid #fff;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  border-radius: 50%;
  font-size: 1.25rem;

  color: black; */
}

.que::after {
  display: none;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: scale(12);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  animation-name: zoomIn;
  animation-duration: 0.4s;
  overflow: hidden;
}

.que2:hover .que::before {
  display: block;
}

.que2:hover .que::after {
  z-index: 10;
  display: block;
  transition: all 0.3s ease-in-out;
}

.main {
  width: calc(100% - 320px);
}

.lista {
  width: 17%;
}

.aside {
  margin-top: 6.5rem;

  top: 0;
}

.aside div {
}

.opciones::-webkit-scrollbar {
  position: relative;
  bottom: -10px;
  width: 5px;
  height: 10px;
  background: rgb(8, 14, 40);
  margin-top: 5px;
}
.opciones::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #00bcff, rgb(0, 122, 255));
  border-radius: 10px;
  margin-top: 5px;
}

.opciones {
  padding-bottom: 6px;
}

@media screen and (max-width: 780px) {
  .desactivateAside {
    flex-direction: column;
  }
  .aside {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: auto;
  }
  .main {
    width: auto;
  }
  .unorderList {
    margin-right: auto;
  }
  .lista {
    width: 31%;
  }
  .opciones {
    min-width: auto;
  }
}

@media screen and (min-width: 1185px) {
  .aside {
    margin-top: 4rem;
  }
}

/* @media screen and (min-width: 1536px) {
  .lista {
    width: 17%;
  }
}
 */

@media screen and (min-width: 780px) {
  .lista {
    width: 47%;
  }
}

@media screen and (min-width: 1024px) {
  .lista {
    width: 31%;
  }
}

@media screen and (min-width: 1280px) {
  .lista {
    width: 23%;
  }
}

@media screen and (min-width: 1400px) {
  .lista {
    width: 17%;
  }
}

@media screen and (max-width: 560px) {
  .lista {
    width: 48%;
  }
}

@media screen and (max-width: 300px) {
  .lista {
    width: auto;
  }
}
