<div
  class="flex desactivateAside fondo max-sm:pr-4 max-sm:pl-4 max-lg:pl-8 max-lg:pr-8 pl-16 pr-16"
>
  <div class="main h-auto fondo pb-5 flex flex-wrap text-center">
    <h2 class="font-bold text-4xl text-white pr-6">Películas</h2>
    <section
      class="flex items-center gap-6 mt-3 fondo min-w-max overflow-x-auto opciones"
    >
      <div class="relative" (click)="getPremieres('1')">
        <div #boton2 class="titles neon">ESTRENOS</div>
      </div>
      <div class="relative" (click)="getRated('1')">
        <div #boton3 class="titles neon">RANKING</div>
      </div>
      <div class="relative" (click)="getPopular('1')">
        <div #boton4 class="titles w-full neon whitespace-nowrap">
          MAS VISTAS
        </div>
      </div>
      <div class="relative" (click)="getComing('1')">
        <div #boton5 class="titles neon">PROXIMAMENTE</div>
      </div>
    </section>
    <ul class="flex flex-wrap justify-between gap-2 mr-5 fondo unorderList">
      <li
        *ngFor="let i of list"
        class="lista rounded-lg mt-8 fondo cursor-pointer flex flex-col items-center relative group"
      >
        <div class="que2 relative overflow-hidden fondo">
          <div class="que flex items-center fondo">
            <img
              class="rounded-md object-cover fondo"
              [src]="getURL(i.poster_path)"
              alt=""
            />
          </div>
        </div>
        <div
          class="pt-2 text-white text-sm group-hover:text-blue-600 z-50 text-center fondo"
        >
          {{ i.title }}
        </div>
        <div class="modal text-left">
          <div class="text-left text-white font-bold text-base">
            {{ i.title }}
          </div>
          <div class="flex text-left gap-7 items-center">
            <div class="text-yellow-300 text-lg">{{ i.vote_average }}/10</div>
            <div class="text-sm text-blue-400">{{ i.release_date }}</div>
          </div>
          <div class="text-blue-300 text-sm">{{ i.overview }}</div>
        </div>
      </li>
    </ul>
  </div>

  <aside class="text-5xl h-auto aside pl-5 mb-12 overflow-clip">
    <app-aside
      appAside
      class="relative sonAside transition-all duration-300 ease-out"
    ></app-aside>
  </aside>
</div>
