<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="imagenfondo">
  <div></div>
  <img
    src="https://image.tmdb.org/t/p/w1280/s16H6tpK2utvwDtzZ8Qy4qm5Emw.jpg"
    alt=""
  />
</div>
<app-movie-top></app-movie-top>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
