<ng-container *ngIf="series$ | async as series">
  <div
    class="slide pl-16 pr-16 pb-5 max-sm:pr-4 max-sm:pl-4 max-lg:pl-8 max-lg:pr-8 flex justify-between"
  >
    <h2 class="font-bold text-4xl text-white">Series</h2>
    <button
      type="button"
      class="animacion text-white bg-blue-600 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-xs px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      VER MAS SERIES
    </button>
  </div>

  <div
    class="h-min pl-16 pr-16 max-sm:pr-4 max-sm:pl-4 max-lg:pl-8 max-lg:pr-8 slide overflow-y-auto"
  >
    <!-- [pagination]="{
      clickable: true
    }" -->
    <swiper
      [pagination]="false"
      [autoplay]="{
        delay: 2500,
        disableOnInteraction: true
      }"
      [loop]="true"
      [loopFillGroupWithBlank]="true"
      [navigation]="true"
      [breakpoints]="{
        '0': {
          slidesPerView: 1,

          slidesPerGroup: 1
        },
        '342': {
          slidesPerView: 2,
          spaceBetween: 10,
          slidesPerGroup: 2
        },
        '768': {
          slidesPerView: 3,
          spaceBetween: 15,
          slidesPerGroup: 3
        },
        '1024': {
          slidesPerView: 4,
          spaceBetween: 20,
          slidesPerGroup: 4
        },
        '1280': {
          slidesPerView: 5,
          spaceBetween: 30,
          slidesPerGroup: 5
        }
      }"
      class="mySwiper"
      data-swiper-autoplay="2000"
    >
      <ng-template
        *ngFor="let i of series.results"
        swiperSlide
        class="group cursor-pointer"
      >
        <div class="w-full h-full">
          <div class="que2 relative overflow-hidden">
            <div class="que w-full flex flex-col items-center">
              <img
                class="rounded-lg max-h-36"
                [src]="getURL(i.backdrop_path)"
                alt=""
              />
            </div>
          </div>
          <div
            class="text-white text-sm group-hover:text-blue-600 z-50 text-center"
          >
            {{ i.name }}
          </div>
          <p class="text-blue-300 text-xs text-center">
            {{ i.first_air_date }}
          </p>
        </div>
      </ng-template>
    </swiper>
  </div>
</ng-container>
