<button #botontube class="absolute bottom-5 lef-5">x</button>

<div #youtube class="video">
  <div #demoYouTubePlayer class="demo-youtube-player">
    <section>
      <youtube-player
        videoId="RSGQuH_gWNw"
        [width]="videoWidth"
        [height]="videoHeight"
      ></youtube-player>
    </section>
  </div>
</div>

<!-- /////////////////// -->
<div
  class="w-screen h-screen absolute top-0 left-0 bottom-0 right-0 overflow-hidden m-auto -z-10 bg-red-500 padre grid place-content-center"
>
  <div #covermovie class="cover"></div>
</div>
