@import "~swiper/css";
@import "~swiper/css/navigation";
@import "~swiper/css/pagination";

@import "~swiper/css/effect-cube";

body {
  background-color: rgb(8, 14, 40);
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #93c5fd;
  transition: all 0.3s ease-in-out;
  opacity: 0.4;
}

.swiper-pagination-bullet-active {
  opacity: 1;

  background: rgb(0, 122, 255);
  width: 50px;
  border-radius: 10px;
}

body::-webkit-scrollbar {
  width: 10px;
  background: rgb(8, 14, 40);
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #00bcff, rgb(0, 122, 255));

  border-radius: 10px;
  width: 10px;
}
.animacion:hover {
  animation-duration: 0.3s;
  animation-name: zoom;
  background-color: rgb(0, 122, 255);
}

.animacion2:hover {
  animation-duration: 0.3s;

  animation-name: zoom;
}

/* .swiper-pagination {
  display: none;
} */
@keyframes zoom {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.07);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
