<div
  class="pl-16 pr-16 max-sm:pr-4 max-lg:pl-8 max-lg:pr-8 max-sm:pl-4 pt-28 posterMovie grid gap-colums"
>
  <article class="poster grid1 max-h-content">
    <div class="flex flex-col gap-2 justify-center items-center">
      <div class="">
        <img
          class="w-full h-full object-cover rounded max-md:rounded-lg"
          [src]="getImage()"
          alt=""
        />
      </div>
      <button
        #botontube
        type="button"
        class="flex items-center justify-center gap-2 z-10 w-4/5 animacion text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 rounded-full px-4 py-1 text-center font-normal"
      >
        <i class="fa-solid fa-play text-white text-2xl"></i>
        <span class="text-white text-lg max-sm:text-sm">trailer</span>
      </button>
    </div>
  </article>

  <article class="text-white grid2">
    <h2 class="text-white font-bold text-xl sm:text-4xl">
      {{ movieDetails.title }}
    </h2>
    <p class="text-blue-200 text-sm">{{ movieDetails.original_title }}</p>
    <section class="flex items-center flex-wrap justify-between">
      <div class="flex items-center">
        <circle-progress
          [title]="title"
          [innerText]=""
          [titleColor]="'#EDB709'"
          [percent]="percentage"
          [space]="-2"
          [radius]="20"
          [outerStrokeWidth]="2"
          [innerStrokeWidth]="2"
          [outerStrokeColor]="'#faa906'"
          [innerStrokeColor]="'#8DA0BC'"
          [animation]="true"
          [animationDuration]="1000"
          [titleFontSize]="'15'"
          [showSubtitle]="false"
          [showUnits]="true"
          [unitsColor]="'#EDB709'"
          [unitsFontSize]="'15'"
          [showBackground]="true"
        ></circle-progress>
        <div>
          <div class="flex items-center flex-wrap">
            <svg
              aria-hidden="true"
              [style]="color"
              class="w-5 h-5 text-gray-400"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              ></path>
            </svg>
            <svg
              [style]="color2"
              aria-hidden="true"
              class="w-5 h-5 text-gray-400"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              ></path>
            </svg>
            <svg
              [style]="color3"
              aria-hidden="true"
              class="w-5 h-5 text-gray-400"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              ></path>
            </svg>
            <svg
              [style]="color4"
              aria-hidden="true"
              class="w-5 h-5 text-gray-400"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              ></path>
            </svg>
            <svg
              [style]="color5"
              aria-hidden="true"
              class="w-5 h-5 text-gray-400"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              ></path>
            </svg>
          </div>
          <div class="text-xs text-blue-300">
            (
            <span class="font-bold text-xs">{{ movieDetails.vote_count }}</span>
            votos, promedio
            <span class="font-bold text-xs">{{
              movieDetails.vote_average
            }}</span>
            de 10 )
          </div>
        </div>
      </div>
      <div
        class="flex max-sm:justify-between w-full gap-2 sm:gap-4 overflow-hidden max-sm:text-sm"
      >
        <div class="flex gap-1">
          <div class="text-blue-300">{{ hours }}h</div>
          <div class="text-blue-300">{{ minutes }}m</div>
        </div>

        <div class="text-blue-300 overflow-hidden max-sm:text-sm">
          {{ movieDetails.release_date }}
        </div>
      </div>
    </section>
  </article>
  <article class="text-blue-200 overflow-auto grid3">
    {{ movieDetails.overview }}
  </article>
  <article class="text-white block grid4">
    <p>
      Director: Garrett Warren, James Cameron, Maria Battle Campbell, Richard
    </p>
    <p>
      Baneham, Simeon Jones Genero: Acción Aventura Fantasía Actores: Alex
      Lucas,
    </p>
    <p>Alicia Vela-Bailey, Andrew Arrabito, Anthony Ahern</p>
  </article>
</div>
<!-- ///////////////////////actores////////////////////////////// -->

<div
  class="h-min pl-16 pr-16 max-sm:pr-4 max-sm:pl-4 max-lg:pl-8 max-lg:pr-8 slide overflow-y-auto"
>
  <swiper
    [loop]="true"
    [loopFillGroupWithBlank]="true"
    [pagination]="{
      clickable: true
    }"
    [navigation]="true"
    [breakpoints]="{
      '0': {
        slidesPerView: 1,

        slidesPerGroup: 1
      },
      '342': {
        slidesPerView: 2,
        spaceBetween: 10,
        slidesPerGroup: 2
      },
      '768': {
        slidesPerView: 3,
        spaceBetween: 15,
        slidesPerGroup: 3
      },
      '1024': {
        slidesPerView: 4,
        spaceBetween: 20,
        slidesPerGroup: 4
      },
      '1280': {
        slidesPerView: 8,
        spaceBetween: 0,
        slidesPerGroup: 5
      }
    }"
    class="mySwiper"
  >
    <ng-template
      *ngFor="let i of actores"
      swiperSlide
      class="group cursor-pointer mt-5"
    >
      <div class="w-full h-full">
        <div class="que2 relative overflow-hidden">
          <div class="que w-full flex flex-col items-center">
            <img
              class="rounded-lg max-h-36"
              [src]="getURL(i.profile_path)"
              alt=""
            />
          </div>
        </div>
        <div
          class="text-white text-sm group-hover:text-blue-600 z-50 text-center"
        >
          {{ i.name }}
        </div>
        <p class="text-blue-300 text-xs text-center">{{ i.first_air_date }}</p>
      </div>
    </ng-template>
  </swiper>
</div>
<!-- /////////////////////////////////////////////////////// -->

<div #youtube class="video -z-10">
  <div #demoYouTubePlayer class="demo-youtube-player">
    <section>
      <youtube-player
        videoId="RSGQuH_gWNw"
        [width]="videoWidth"
        [height]="videoHeight"
      ></youtube-player>
    </section>
  </div>
</div>
<div
  class="w-full h-screen absolute top-0 left-0 bottom-0 right-0 overflow-hidden m-auto padre grid place-content-center"
>
  <div #covermovie class="cover"></div>
</div>
