<div class="navbar flex z-10">
  <nav class="bg-white border-gray-200 dark:bg-gray-900 dark:border-gray-700">
    <div
      class="flex items-center justify-between lg:justify-around mx-auto h-24"
    >
      <a href="#" class="flex items-center pb-1 max-lg:ml-5">
        <img
          src="https://flowbite.com/docs/images/logo.svg"
          class="mr-3 max-sm:h-14 max-sm:w-14 h-16 w-16"
          alt="Flowbite Logo"
        />
        <span class="text-3xl font-semibold whitespace-nowrap text-white"
          >Cinecalidad</span
        >
      </a>

      <div class="hidden w-full lg:block md:w-auto" id="navbar-dropdown">
        <ul
          class="flex flex-col justify-center gap-1 mt-4 rounded-lg bg-transparent md:flex-row lg:space-x-8 md:mt-0 md:text-base md:border-0 md:bg-transparent"
        >
          <li>
            <div class="">
              <div class="group relative">
                <button
                  class="bg-transparent text-white font-normal py-2 rounded inline-flex items-center transition duration-300 ease-in-out opacity-100"
                >
                  <span class="mr-1 sm:hover:text-blue-700">Inicio</span>
                </button>
              </div>
            </div>
          </li>

          <li>
            <div class="">
              <div class="group relative">
                <button
                  class="bg-transparent text-white font-normal py-2 rounded inline-flex items-center transition duration-300 ease-in-out opacity-100"
                >
                  <span class="mr-1 sm:hover:text-blue-700">Géneros</span>
                  <svg
                    class="fill-current h-4 w-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                    />
                  </svg>
                </button>
                <ul
                  class="absolute hidden text-gray-700 pt-1 group-hover:block transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 listitas rounded text-sm"
                >
                  <li class="">
                    <a
                      class="rounded-t fondito text-white hover:text-blue-700 py-2 px-5 block whitespace-no-wrap"
                      href="#"
                      >One</a
                    >
                  </li>
                  <li class="">
                    <a
                      class="fondito py-2 text-white px-4 hover:text-blue-700 block whitespace-no-wrap"
                      href="#"
                      >Two</a
                    >
                  </li>
                  <li class="">
                    <a
                      class="rounded-b fondito text-white py-2 hover:text-blue-700 px-4 block whitespace-no-wrap"
                      href="#"
                      >Three is the magic number</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <div class="">
              <div class="group relative">
                <button
                  class="bg-transparent text-white font-normal py-2 rounded inline-flex items-center transition duration-300 ease-in-out opacity-100"
                >
                  <span class="mr-1 sm:hover:text-blue-700">Películas</span>
                  <svg
                    class="fill-current h-4 w-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                    />
                  </svg>
                </button>
                <ul
                  class="absolute hidden text-gray-700 pt-1 group-hover:block transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 listitas rounded text-sm"
                >
                  <li class="">
                    <a
                      class="rounded-t fondito text-white hover:text-blue-700 py-2 px-4 block whitespace-no-wrap"
                      href="#"
                      >One</a
                    >
                  </li>
                  <li class="">
                    <a
                      class="fondito py-2 text-white px-4 hover:text-blue-700 block whitespace-no-wrap"
                      href="#"
                      >Two</a
                    >
                  </li>
                  <li class="">
                    <a
                      class="rounded-b fondito text-white py-2 hover:text-blue-700 px-4 block whitespace-no-wrap"
                      href="#"
                      >Three is the magic number</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </li>

          <li>
            <div class="">
              <div class="group relative">
                <button
                  class="bg-transparent text-white font-normal py-2 rounded inline-flex items-center transition duration-300 ease-in-out opacity-100"
                >
                  <span class="mr-1 sm:hover:text-blue-700">Series</span>
                  <svg
                    class="fill-current h-4 w-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                    />
                  </svg>
                </button>
                <ul
                  class="absolute hidden text-gray-700 pt-1 group-hover:block transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 listitas rounded text-sm"
                >
                  <li class="">
                    <a
                      class="rounded-t fondito text-white hover:text-blue-700 py-2 px-4 block whitespace-no-wrap"
                      href="#"
                      >One</a
                    >
                  </li>
                  <li class="">
                    <a
                      class="fondito py-2 text-white px-4 hover:text-blue-700 block whitespace-no-wrap"
                      href="#"
                      >Two</a
                    >
                  </li>
                  <li class="">
                    <a
                      class="rounded-b fondito text-white py-2 hover:text-blue-700 px-4 block whitespace-no-wrap"
                      href="#"
                      >Three is the magic number</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <form class="search items-center rounded-3xl hidden lg:flex">
        <div class="relative">
          <input
            type="text"
            id="simple-search"
            class="xl:focus:w-60 text-sm rounded-3xl focus:ring-blue-500 focus:border-blue-800 block w-full pl-10 p-2.5 font-normal place"
            placeholder="Buscar películas..."
            required
          />
          <span class="absolute top-3 right-3 cursor-pointer hover:scale-125">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="3"
              stroke="currentColor"
              class="w-4 h-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
              />
            </svg>
          </span>
        </div>
      </form>
      <button class="text-white hidden lg:block animacion">Entrar</button>
      <button
        type="button"
        class="animacion max-lg:hidden text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 rounded-full text-base px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Registro
      </button>
      <div id="app" class="lg:hidden cursor-pointer max-lg:mr-5">
        <div
          #toggle
          class="toggle w-12 h-12 bg-blue-600 transition-all duration-200 ease-in-out shadow-x1 rounded-x1 transform hover:-translate-y-1 hover:scale-105 rounded-full"
        >
          <span class="rounded-md w-4 bg-white absolute h-1 top-3.5"></span>
          <span class="rounded-md w-6 bg-white absolute h-1"></span>
          <span class="rounded-md w-5 bg-white absolute h-1"></span>
        </div>
      </div>
    </div>
  </nav>
</div>
<!-- *********************************** CARROUSEL **************************-->

<div
  id="default-carousel"
  class="relative"
  data-carousel="static"
  data-carousel-interval="6000"
>
  <!-- Carousel wrapper -->
  <div
    class="transition-all ease-in-out duration-300 relative overflow-hidden max-sm:h-[38rem] sm:h-[37rem] lg:h-[36rem] 2xl:h-[32rem] sera"
  >
    <!-- Item 1 -->
    <div
      class="hidden duration-700 ease-in-out carousel-img"
      data-carousel-item
    >
      <div
        class="carousel pl-16 pr-16 max-sm:pr-4 max-sm:pl-4 flex flex-col justify-center max-sm:gap-2 sm:gap-8"
      >
        <h2
          class="w-max hover:scale-105 transition-all ease-in-out duration-300 cursor-pointer text-white font-bold title"
        >
          Black Adam<span
            class="badge relative -top-2 left-2 bg-yellow-300 text-black font-medium mr-2 px-1 py-0.5 rounded-full"
            >PELÍCULA</span
          >
        </h2>

        <div class="">
          <span class="text-yellow-300 text-lg">4.16/5 </span>
          <span class="text-blue-300">2h 4min 2022</span>
          <span
            class="badge relative top-0 left-2 bg-yellow-300 text-black font-medium mr-2 px-1 py-0.5 rounded-full"
            >HD</span
          >
        </div>

        <p class="text-blue-300 font-normal max-h-64 overflow-y-auto">
          Casi 5.000 años después de haber sido dotado de los poderes
          omnipotentes de los antiguos dioses y encarcelado con la misma
          rapidez, Black Adam es liberado de su tumba terrenal, listo para
          desatar su forma única de justicia en el mundo moderno.
        </p>

        <button
          type="button"
          class="animacion text-lg transition-all ease-in-out duration-300 w-36 text-white bg-blue-600 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-normal rounded-full px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Ver Película
        </button>
      </div>
    </div>
    <!-- Item 2 -->

    <div
      class="hidden duration-700 ease-in-out carousel-img2"
      data-carousel-item
    >
      <div
        class="carousel pl-16 pr-16 max-sm:pr-4 max-sm:pl-4 flex flex-col justify-center sm:gap-8"
      >
        <h2
          class="w-maxc hover:scale-105 transition-all ease-in-out duration-300 cursor-pointer text-white font-bold title"
        >
          Avatar: El sentido del agua<span
            class="badge relative -top-2 left-2 bg-yellow-300 text-black text-xs font-medium mr-2 px-1 py-0.5 rounded-full"
            >PELÍCULA</span
          >
        </h2>

        <div>
          <span class="text-yellow-300 text-lg">4.24/5 </span>
          <span class="text-blue-300">3h 12min 2022</span>
          <span
            class="badge relative top-0 left-2 bg-yellow-300 text-black font-medium mr-2 px-1 py-0.5 rounded-full"
            >TS-HQ</span
          >
        </div>

        <p class="text-blue-300 font-normal max-h-64 overflow-y-auto">
          Ambientada más de una década después de los acontecimientos de la
          primera película, ‘Avatar: The Way of Water’ empieza contando la
          historia de la familia Sully (Jake, Neytiri y sus hijos), los
          problemas que los persiguen, lo que tienen que hacer ...
        </p>

        <button
          type="button"
          class="animacion text-lg transition-all ease-in-out duration-300 w-36 text-white bg-blue-600 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-normal rounded-full px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Ver Película
        </button>
      </div>
    </div>
    <!-- Item 3 -->
    <div
      class="hidden duration-700 ease-in-out carousel-img3"
      data-carousel-item
    >
      <div
        class="carousel pl-16 pr-16 max-sm:pr-4 max-sm:pl-4 flex flex-col justify-center sm:gap-8"
      >
        <h2
          class="w-max hover:scale-105 transition-all ease-in-out duration-300 cursor-pointer text-white font-bold title"
        >
          Guardianes de la galaxia: especial felices fiestas<span
            class="badge relative -top-2 left-2 bg-yellow-300 text-black text-xs font-medium mr-2 px-1 py-0.5 rounded-full"
            >PELÍCULA</span
          >
        </h2>

        <div>
          <span class="text-yellow-300 text-lg">4.47/5 </span>
          <span class="text-blue-300">0h 44min 2022</span>
          <span
            class="badge relative top-0 left-2 bg-yellow-300 text-black font-medium mr-2 px-1 py-0.5 rounded-full"
            >HD</span
          >
        </div>

        <p class="text-blue-300 font-normal max-h-64 overflow-y-auto">
          Antes de que Star-Lord, Gamora, Drax, Rocket, Mantis y Groot lleguen a
          la pantalla grande con Guardianes de la Galaxia Vol. 3 en 2023, mira a
          los Guardianes participar en algunas travesuras enérgicas en un
          especial original completamente nuevo, creado para Disney+, durante la
          temporada navideñ...
        </p>

        <button
          type="button"
          class="animacion text-lg transition-all ease-in-out duration-300 w-36 text-white bg-blue-600 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-normal rounded-full px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Ver Película
        </button>
      </div>
    </div>
    <!-- Item 4 -->
    <div
      class="hidden duration-700 ease-in-out carousel-img4"
      data-carousel-item
    >
      <div
        class="carousel pl-16 pr-16 max-sm:pr-4 max-sm:pl-4 flex flex-col justify-center max-sm:gap-1 sm:gap-8"
      >
        <h2
          class="hover:scale-105 w-max transition-all ease-in-out duration-300 cursor-pointer text-white font-bold title"
        >
          El gato con botas: El último deseo<span
            class="badge relative -top-2 left-2 bg-yellow-300 text-black text-xs font-medium mr-2 px-1 py-0.5 rounded-full"
            >PELÍCULA</span
          >
        </h2>

        <div>
          <span class="text-yellow-300 text-lg">4.42/5 </span>
          <span class="text-blue-300">1h 44min 2022</span>
          <span
            class="badge relative top-0 left-2 bg-yellow-300 text-black font-medium mr-2 px-1 py-0.5 rounded-full"
            >HD</span
          >
        </div>

        <p class="text-blue-300 font-normal max-h-64 overflow-y-auto">
          El Gato con Botas descubre que su pasión por la aventura le ha pasado
          factura: ha consumido ocho de sus nueve vidas, por ello emprende un
          viaje épico para encontrar el mítico Último Deseo y restaurar sus
          nueve vidas.
        </p>

        <button
          type="button"
          class="animacion text-lg transition-all ease-in-out duration-300 w-36 text-white bg-blue-600 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-normal rounded-full px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Ver Película
        </button>
      </div>
    </div>
    <!-- Item 5 -->
    <div
      class="hidden duration-700 ease-in-out carousel-img5"
      data-carousel-item
    >
      <div
        class="carousel pl-16 pr-16 max-sm:pr-4 max-sm:pl-4 flex flex-col justify-center max-sm:gap-2 sm:gap-8"
      >
        <h2
          class="hover:scale-105 w-max transition-all ease-in-out duration-300 cursor-pointer text-white font-bold title"
        >
          M3GAN<span
            class="relative -top-2 left-2 bg-yellow-300 text-black text-xs font-medium mr-2 px-1 py-0.5 rounded-full"
            >PELÍCULA</span
          >
        </h2>

        <div>
          <span class="text-yellow-300 text-lg">4.19/5 </span>
          <span class="text-blue-300">1h 42min 2022</span>
          <span
            class="badge relative top-0 left-2 bg-yellow-300 text-black font-medium mr-2 px-1 py-0.5 rounded-full"
            >TS-HQ</span
          >
        </div>

        <p class="text-blue-300 font-normal max-h-64 overflow-y-auto">
          Un ingeniero en robótica de una empresa de juguetes construye una
          muñeca realista que comienza a cobrar vida propia.
        </p>

        <button
          type="button"
          class="animacion text-lg transition-all ease-in-out duration-300 w-36 text-white bg-blue-600 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-normal rounded-full px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Ver Película
        </button>
      </div>
    </div>
  </div>
  <!-- Slider indicators -->
  <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
    <button
      type="button-primary"
      class="w-3 h-3 rounded-full bg-blue-500"
      aria-current="false "
      aria-label="Slide "
      data-carousel-slide-to="0"
    ></button>
    <button
      type="button"
      class="w-3 h-3 rounded-full bg-blue-500"
      aria-current="false"
      aria-label="Slide 2"
      data-carousel-slide-to="1"
    ></button>
    <button
      type="button"
      class="w-3 h-3 rounded-full bg-blue-500"
      aria-current="false"
      aria-label="Slide 3"
      data-carousel-slide-to="2"
    ></button>
    <button
      type="button"
      class="w-3 h-3 rounded-full bg-blue-500"
      aria-current="false"
      aria-label="Slide 4"
      data-carousel-slide-to="3"
    ></button>
    <button
      type="button"
      class="w-3 h-3 rounded-full bg-blue-500"
      aria-current="false"
      aria-label="Slide 5"
      data-carousel-slide-to="4"
    ></button>
  </div>
  <!-- Slider controls -->
</div>

<!-- /////////////////////////////////////////////////////////////////////////// -->

<!-- /////////////////////////////////////////////////////SIDEBAR///////////////////////////// -->
<p #cover class="w-screen h-screen absolute top-0 -left-full z-20 cover"></p>
<aside
  #sidebar
  class="w-80 fixed overflow-y-auto -left-80 z-20 top-0 transition-all ease-in-out duration-300 lg:hidden sidebar overflow-x-hidden"
  aria-label="Sidebar"
>
  <div class="px-3 py-4 rounded mt-20">
    <section class="flex flex-col items-center justify-center gap-3">
      <form class="items-center rounded-3xl w-60">
        <div class="relative -left-3">
          <input
            type="text"
            id="simple-search"
            class="w-64 text-sm rounded-3xl focus:ring-blue-500 focus:border-blue-800 block pl-10 p-2.5 font-normal place"
            placeholder="Buscar películas..."
            required
          />
          <span class="absolute top-3 right-3 cursor-pointer hover:scale-125">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="3"
              stroke="currentColor"
              class="w-4 h-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
              />
            </svg>
          </span>
        </div>
      </form>
      <div class="flex justify-center gap-2">
        <button
          type="button"
          class="animacion w-32 text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 rounded-full text-md px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
        >
          Entrar
        </button>
        <button
          type="button"
          class="animacion w-32 text-white bg-blue-600 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 rounded-full textmd px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Registro
        </button>
      </div>
    </section>
    <ul
      class="space-y-2 transition-all ease-in-out duration-300 overflow-x-hidden"
    >
      <li>
        <a
          href="#"
          class="w-min flex items-center p-2 text-base font-normal text-white rounded-lg hover:text-blue-500"
        >
          <span class="ml-3">Inicio</span>
        </a>
      </li>
      <li>
        <button
          type="button"
          class="flex items-center w-min p-2 text-base font-normal text-white transition duration-75 rounded-lg group hover:text-blue-500"
          aria-controls="dropdown-example"
          data-collapse-toggle="dropdown-example"
        >
          <span
            class="flex-1 ml-3 text-left whitespace-nowrap"
            sidebar-toggle-item
            >Géneros</span
          >
          <svg
            sidebar-toggle-item
            class="w-6 h-6"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
        <ul
          id="dropdown-example"
          class="hidden py-2 space-y-2 w-80 transition-all ease-in-out duration-300"
        >
          <ul class="flex flex-wrap">
            <li class="w-1/2">
              <a
                href="#"
                class="flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group hover:text-blue-500"
                >Products</a
              >
            </li>
            <li class="w-1/2">
              <a
                href="#"
                class="flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group hover:text-blue-500"
                >Products</a
              >
            </li>
            <li class="w-1/2">
              <a
                href="#"
                class="flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group hover:text-blue-500"
                >Products</a
              >
            </li>
            <li class="w-1/2">
              <a
                href="#"
                class="flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group hover:text-blue-500"
                >Products</a
              >
            </li>
            <li class="w-1/2">
              <a
                href="#"
                class="flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group hover:text-blue-500"
                >Products</a
              >
            </li>
            <li class="w-1/2">
              <a
                href="#"
                class="flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group hover:text-blue-500"
                >Products</a
              >
            </li>
            <li class="w-1/2">
              <a
                href="#"
                class="flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group hover:text-blue-500"
                >Products</a
              >
            </li>
            <li class="w-1/2">
              <a
                href="#"
                class="flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group hover:text-blue-500"
                >Products</a
              >
            </li>
            <li class="w-1/2">
              <a
                href="#"
                class="flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group hover:text-blue-500"
                >Products</a
              >
            </li>
            <li class="w-1/2">
              <a
                href="#"
                class="flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group hover:text-blue-500"
                >Products</a
              >
            </li>
            <li class="w-1/2">
              <a
                href="#"
                class="flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group hover:text-blue-500"
                >Products</a
              >
            </li>
            <li class="w-1/2">
              <a
                href="#"
                class="flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group hover:text-blue-500"
                >Products</a
              >
            </li>
            <li class="w-1/2">
              <a
                href="#"
                class="flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group hover:text-blue-500"
                >Products</a
              >
            </li>
            <li class="w-1/2">
              <a
                href="#"
                class="flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group hover:text-blue-500"
                >Products</a
              >
            </li>
            <li class="w-1/2">
              <a
                href="#"
                class="flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group hover:text-blue-500"
                >Products</a
              >
            </li>
          </ul>
        </ul>
      </li>
      <li>
        <button
          type="button"
          class="flex items-center w-min p-2 text-base font-normal text-white transition duration-75 rounded-lg group hover:text-blue-500"
          aria-controls="dropdown-example"
          data-collapse-toggle="dropdown-example2"
        >
          <span
            class="flex-1 ml-3 text-left whitespace-nowrap"
            sidebar-toggle-item
            >Películas</span
          >
          <svg
            sidebar-toggle-item
            class="w-6 h-6"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
        <ul
          id="dropdown-example2"
          class="hidden py-2 space-y-2 w-80 transition-all ease-in-out duration-300"
        >
          <ul class="flex flex-wrap">
            <li class="w-1/2">
              <a
                href="#"
                class="flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group hover:text-blue-500"
                >Products</a
              >
            </li>
            <li class="w-1/2">
              <a
                href="#"
                class="flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group hover:text-blue-500"
                >Products</a
              >
            </li>
            <li class="w-1/2">
              <a
                href="#"
                class="flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group hover:text-blue-500"
                >Products</a
              >
            </li>
            <li class="w-1/2">
              <a
                href="#"
                class="flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group hover:text-blue-500"
                >Products</a
              >
            </li>
            <li class="w-1/2">
              <a
                href="#"
                class="flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group hover:text-blue-500"
                >Products</a
              >
            </li>
            <li class="w-1/2">
              <a
                href="#"
                class="flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group hover:text-blue-500"
                >Products</a
              >
            </li>
            <li class="w-1/2">
              <a
                href="#"
                class="flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group hover:text-blue-500"
                >Products</a
              >
            </li>
            <li class="w-1/2">
              <a
                href="#"
                class="flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group hover:text-blue-500"
                >Products</a
              >
            </li>
            <li class="w-1/2">
              <a
                href="#"
                class="flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group hover:text-blue-500"
                >Products</a
              >
            </li>
            <li class="w-1/2">
              <a
                href="#"
                class="flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group hover:text-blue-500"
                >Products</a
              >
            </li>
            <li class="w-1/2">
              <a
                href="#"
                class="flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group hover:text-blue-500"
                >Products</a
              >
            </li>
            <li class="w-1/2">
              <a
                href="#"
                class="flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group hover:text-blue-500"
                >Products</a
              >
            </li>
            <li class="w-1/2">
              <a
                href="#"
                class="flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group hover:text-blue-500"
                >Products</a
              >
            </li>
            <li class="w-1/2">
              <a
                href="#"
                class="flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group hover:text-blue-500"
                >Products</a
              >
            </li>
            <li class="w-1/2">
              <a
                href="#"
                class="flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group hover:text-blue-500"
                >Products</a
              >
            </li>
          </ul>
        </ul>
      </li>
      <li>
        <button
          type="button"
          class="flex items-center w-min p-2 text-base font-normal text-white transition duration-75 rounded-lg group hover:text-blue-500"
          aria-controls="dropdown-example"
          data-collapse-toggle="dropdown-example3"
        >
          <span
            class="flex-1 ml-3 text-left whitespace-nowrap"
            sidebar-toggle-item
            >Series</span
          >
          <svg
            sidebar-toggle-item
            class="w-6 h-6"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
        <ul
          id="dropdown-example3"
          class="hidden py-2 space-y-2 w-80 transition-all ease-in-out duration-300"
        >
          <ul class="flex flex-wrap">
            <li class="w-1/2">
              <a
                href="#"
                class="flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group hover:text-blue-500"
                >Products</a
              >
            </li>
            <li class="w-1/2">
              <a
                href="#"
                class="flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group hover:text-blue-500"
                >Products</a
              >
            </li>
            <li class="w-1/2">
              <a
                href="#"
                class="flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group hover:text-blue-500"
                >Products</a
              >
            </li>
            <li class="w-1/2">
              <a
                href="#"
                class="flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group hover:text-blue-500"
                >Products</a
              >
            </li>
            <li class="w-1/2">
              <a
                href="#"
                class="flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group hover:text-blue-500"
                >Products</a
              >
            </li>
            <li class="w-1/2">
              <a
                href="#"
                class="flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group hover:text-blue-500"
                >Products</a
              >
            </li>
            <li class="w-1/2">
              <a
                href="#"
                class="flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group hover:text-blue-500"
                >Products</a
              >
            </li>
            <li class="w-1/2">
              <a
                href="#"
                class="flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group hover:text-blue-500"
                >Products</a
              >
            </li>
            <li class="w-1/2">
              <a
                href="#"
                class="flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group hover:text-blue-500"
                >Products</a
              >
            </li>
            <li class="w-1/2">
              <a
                href="#"
                class="flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group hover:text-blue-500"
                >Products</a
              >
            </li>
            <li class="w-1/2">
              <a
                href="#"
                class="flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group hover:text-blue-500"
                >Products</a
              >
            </li>
            <li class="w-1/2">
              <a
                href="#"
                class="flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group hover:text-blue-500"
                >Products</a
              >
            </li>
            <li class="w-1/2">
              <a
                href="#"
                class="flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group hover:text-blue-500"
                >Products</a
              >
            </li>
            <li class="w-1/2">
              <a
                href="#"
                class="flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group hover:text-blue-500"
                >Products</a
              >
            </li>
            <li class="w-1/2">
              <a
                href="#"
                class="flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group hover:text-blue-500"
                >Products</a
              >
            </li>
          </ul>
        </ul>
      </li>
    </ul>
  </div>
</aside>


<!-- ////////////////////////////////////////////////////////////// -->
