.search {
  width: 184px;
  height: 40px;
}

.place::placeholder {
  position: relative;
  left: -25px;
  font-size: 16px;
  z-index: 9;
  color: rgb(134, 152, 179);
  width: 100%;
}

svg {
  color: rgb(0, 122, 255);
}

input {
  transition: 0.3s ease-in-out;
  background-color: rgb(18, 20, 39);
}

input:focus {
  width: 250px;
}
