<!-- *********************************** CARROUSEL **************************-->
<app-navbar></app-navbar>

<!-- /////////////////////////////////////////////////////////////////////////// -->
<app-carousel></app-carousel>
<!-- /////////////////////////////////////////////////////SIDEBAR///////////////////////////// -->
<app-sidebar></app-sidebar>
<app-slide></app-slide>

<app-movies-card #moviescard id="moviescard"></app-movies-card>

<!-- ////////////////////////////////////////////////////////////// -->
