<div class="navbar flex z-10">
  <nav class="bg-white border-gray-200 dark:bg-gray-900 dark:border-gray-700">
    <div
      class="flex items-center justify-between lg:justify-around mx-auto h-24"
    >
      <a href="#" class="flex items-center pb-1 max-lg:ml-5">
        <img
          src="https://flowbite.com/docs/images/logo.svg"
          class="h-3 mr-3 sm:h-10"
          alt="Flowbite Logo"
        />
        <span class="text-xl font-semibold whitespace-nowrap text-white"
          >Cinecalidad</span
        >
      </a>

      <div class="hidden w-full lg:block md:w-auto" id="navbar-dropdown">
        <ul
          class="flex flex-col justify-center gap-1 mt-4 rounded-lg bg-transparent md:flex-row lg:space-x-8 md:mt-0 md:text-base md:border-0 md:bg-transparent"
        >
          <li>
            <div class="">
              <div class="group relative">
                <button
                  class="bg-transparent text-white font-normal py-2 rounded inline-flex items-center transition duration-300 ease-in-out opacity-100"
                >
                  <span class="mr-1 sm:hover:text-blue-700">Inicio</span>
                </button>
              </div>
            </div>
          </li>

          <li>
            <div class="">
              <div class="group relative">
                <button
                  class="bg-transparent text-white font-normal py-2 rounded inline-flex items-center transition duration-300 ease-in-out opacity-100"
                >
                  <span class="mr-1 sm:hover:text-blue-700">Géneros</span>
                  <svg
                    class="fill-current h-4 w-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                    />
                  </svg>
                </button>
                <ul
                  class="absolute hidden text-gray-700 pt-1 group-hover:block transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 listitas rounded text-sm"
                >
                  <li class="">
                    <a
                      class="rounded-t fondito text-white hover:text-blue-700 py-2 px-5 block whitespace-no-wrap"
                      href="#"
                      >One</a
                    >
                  </li>
                  <li class="">
                    <a
                      class="fondito py-2 text-white px-4 hover:text-blue-700 block whitespace-no-wrap"
                      href="#"
                      >Two</a
                    >
                  </li>
                  <li class="">
                    <a
                      class="rounded-b fondito text-white py-2 hover:text-blue-700 px-4 block whitespace-no-wrap"
                      href="#"
                      >Three is the magic number</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <div class="">
              <div class="group relative">
                <button
                  class="bg-transparent text-white font-normal py-2 rounded inline-flex items-center transition duration-300 ease-in-out opacity-100"
                >
                  <span class="mr-1 sm:hover:text-blue-700">Películas</span>
                  <svg
                    class="fill-current h-4 w-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                    />
                  </svg>
                </button>
                <ul
                  class="absolute hidden text-gray-700 pt-1 group-hover:block transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 listitas rounded text-sm"
                >
                  <li class="">
                    <a
                      class="rounded-t fondito text-white hover:text-blue-700 py-2 px-4 block whitespace-no-wrap"
                      href="#"
                      >One</a
                    >
                  </li>
                  <li class="">
                    <a
                      class="fondito py-2 text-white px-4 hover:text-blue-700 block whitespace-no-wrap"
                      href="#"
                      >Two</a
                    >
                  </li>
                  <li class="">
                    <a
                      class="rounded-b fondito text-white py-2 hover:text-blue-700 px-4 block whitespace-no-wrap"
                      href="#"
                      >Three is the magic number</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </li>

          <li>
            <div class="">
              <div class="group relative">
                <button
                  class="bg-transparent text-white font-normal py-2 rounded inline-flex items-center transition duration-300 ease-in-out opacity-100"
                >
                  <span class="mr-1 sm:hover:text-blue-700">Series</span>
                  <svg
                    class="fill-current h-4 w-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                    />
                  </svg>
                </button>
                <ul
                  class="absolute hidden text-gray-700 pt-1 group-hover:block transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 listitas rounded text-sm"
                >
                  <li class="">
                    <a
                      class="rounded-t fondito text-white hover:text-blue-700 py-2 px-4 block whitespace-no-wrap"
                      href="#"
                      >One</a
                    >
                  </li>
                  <li class="">
                    <a
                      class="fondito py-2 text-white px-4 hover:text-blue-700 block whitespace-no-wrap"
                      href="#"
                      >Two</a
                    >
                  </li>
                  <li class="">
                    <a
                      class="rounded-b fondito text-white py-2 hover:text-blue-700 px-4 block whitespace-no-wrap"
                      href="#"
                      >Three is the magic number</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <form class="search items-center rounded-3xl hidden lg:flex">
        <div class="relative">
          <input
            type="text"
            id="simple-search"
            class="text-sm rounded-3xl focus:ring-blue-500 focus:border-blue-800 block w-full pl-10 p-2.5 font-normal place"
            placeholder="Buscar películas..."
            required
          />
          <span class="absolute top-3 right-3 cursor-pointer hover:scale-125">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="3"
              stroke="currentColor"
              class="w-4 h-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
              />
            </svg>
          </span>
        </div>
      </form>
      <button class="text-white hidden lg:block">Entrar</button>
      <button
        type="button"
        class="max-lg:hidden text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 rounded-full text-base px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Registro
      </button>
      <div id="app" class="lg:hidden cursor-pointer max-lg:mr-5">
        <div
          #toggle
          class="toggle w-12 h-12 bg-blue-600 transition-all duration-200 ease-in-out shadow-x1 rounded-x1 transform hover:-translate-y-1 hover:scale-125 rounded-full"
        >
          <span class="rounded-md w-4 bg-white absolute h-1 top-3.5"></span>
          <span class="rounded-md w-6 bg-white absolute h-1"></span>
          <span class="rounded-md w-5 bg-white absolute h-1"></span>
        </div>
      </div>
    </div>
  </nav>
</div>
<!-- *********************************** CARROUSEL **************************-->

<div id="default-carousel" class="relative" data-carousel="static">
  <!-- Carousel wrapper -->
  <div class="relative h-56 overflow-hidden md:h-[37rem]">
    <!-- Item 1 -->
    <div
      class="hidden duration-700 ease-in-out carousel-img"
      data-carousel-item
    >
      <span
        class="carousel absolute text-2xl font-semibold text-white -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 sm:text-3xl dark:text-gray-800"
        >First Slide</span
      >
    </div>
    <!-- Item 2 -->
    <div
      class="hidden duration-700 ease-in-out carousel-img2"
      data-carousel-item
    ></div>
    <!-- Item 3 -->
    <div
      class="hidden duration-700 ease-in-out carousel-img3"
      data-carousel-item
    ></div>
    <!-- Item 4 -->
    <div
      class="hidden duration-700 ease-in-out carousel-img4"
      data-carousel-item
    ></div>
    <!-- Item 5 -->
    <div
      class="hidden duration-700 ease-in-out carousel-img5"
      data-carousel-item
    ></div>
  </div>
  <!-- Slider indicators -->
  <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
    <button
      type="button"
      class="w-3 h-3 rounded-full"
      aria-current="false"
      aria-label="Slide 1"
      data-carousel-slide-to="0"
    ></button>
    <button
      type="button"
      class="w-3 h-3 rounded-full"
      aria-current="false"
      aria-label="Slide 2"
      data-carousel-slide-to="1"
    ></button>
    <button
      type="button"
      class="w-3 h-3 rounded-full"
      aria-current="false"
      aria-label="Slide 3"
      data-carousel-slide-to="2"
    ></button>
  </div>
  <!-- Slider controls -->
  <button
    type="button"
    class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    data-carousel-prev
  >
    <span
      class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
    >
      <svg
        aria-hidden="true"
        class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M15 19l-7-7 7-7"
        ></path>
      </svg>
      <span class="sr-only">Previous</span>
    </span>
  </button>
  <button
    type="button"
    class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    data-carousel-next
  >
    <span
      class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
    >
      <svg
        aria-hidden="true"
        class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5l7 7-7 7"
        ></path>
      </svg>
      <span class="sr-only">Next</span>
    </span>
  </button>
</div>

<!-- /////////////////////////////////////////////////////////////////////////// -->

<!-- /////////////////////////////////////////////////////SIDEBAR///////////////////////////// -->

<aside
  #sidebar
  class="w-64 fixed top-20 -left-64 z-20 transition-all ease-in-out duration-300"
  aria-label="Sidebar"
>
  <div class="px-3 py-4 overflow-y-auto rounded bg-gray-50 dark:bg-gray-800">
    <ul class="space-y-2">
      <li>
        <a
          href="#"
          class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
        >
          <svg
            aria-hidden="true"
            class="w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
            <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
          </svg>
          <span class="ml-3">Dashboard</span>
        </a>
      </li>
      <li>
        <button
          type="button"
          class="flex items-center w-full p-2 text-base font-normal text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
          aria-controls="dropdown-example"
          data-collapse-toggle="dropdown-example"
        >
          <svg
            aria-hidden="true"
            class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M10 2a4 4 0 00-4 4v1H5a1 1 0 00-.994.89l-1 9A1 1 0 004 18h12a1 1 0 00.994-1.11l-1-9A1 1 0 0015 7h-1V6a4 4 0 00-4-4zm2 5V6a2 2 0 10-4 0v1h4zm-6 3a1 1 0 112 0 1 1 0 01-2 0zm7-1a1 1 0 100 2 1 1 0 000-2z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <span
            class="flex-1 ml-3 text-left whitespace-nowrap"
            sidebar-toggle-item
            >E-commerce</span
          >
          <svg
            sidebar-toggle-item
            class="w-6 h-6"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
        <ul id="dropdown-example" class="hidden py-2 space-y-2">
          <li>
            <a
              href="#"
              class="flex items-center w-full p-2 text-base font-normal text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
              >Products</a
            >
          </li>
          <li>
            <a
              href="#"
              class="flex items-center w-full p-2 text-base font-normal text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
              >Billing</a
            >
          </li>
          <li>
            <a
              href="#"
              class="flex items-center w-full p-2 text-base font-normal text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
              >Invoice</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a
          href="#"
          class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
        >
          <svg
            aria-hidden="true"
            class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"
            ></path>
          </svg>
          <span class="flex-1 ml-3 whitespace-nowrap">Kanban</span>
          <span
            class="inline-flex items-center justify-center px-2 ml-3 text-sm font-medium text-gray-800 bg-gray-200 rounded-full dark:bg-gray-700 dark:text-gray-300"
            >Pro</span
          >
        </a>
      </li>
      <li>
        <a
          href="#"
          class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
        >
          <svg
            aria-hidden="true"
            class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.707 7.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l2-2a1 1 0 00-1.414-1.414L11 7.586V3a1 1 0 10-2 0v4.586l-.293-.293z"
            ></path>
            <path
              d="M3 5a2 2 0 012-2h1a1 1 0 010 2H5v7h2l1 2h4l1-2h2V5h-1a1 1 0 110-2h1a2 2 0 012 2v10a2 2 0 01-2 2H5a2 2 0 01-2-2V5z"
            ></path>
          </svg>
          <span class="flex-1 ml-3 whitespace-nowrap">Inbox</span>
          <span
            class="inline-flex items-center justify-center w-3 h-3 p-3 ml-3 text-sm font-medium text-blue-600 bg-blue-200 rounded-full dark:bg-blue-900 dark:text-blue-200"
            >3</span
          >
        </a>
      </li>
      <li>
        <a
          href="#"
          class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
        >
          <svg
            aria-hidden="true"
            class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <span class="flex-1 ml-3 whitespace-nowrap">Users</span>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
        >
          <svg
            aria-hidden="true"
            class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M10 2a4 4 0 00-4 4v1H5a1 1 0 00-.994.89l-1 9A1 1 0 004 18h12a1 1 0 00.994-1.11l-1-9A1 1 0 0015 7h-1V6a4 4 0 00-4-4zm2 5V6a2 2 0 10-4 0v1h4zm-6 3a1 1 0 112 0 1 1 0 01-2 0zm7-1a1 1 0 100 2 1 1 0 000-2z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <span class="flex-1 ml-3 whitespace-nowrap">Products</span>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
        >
          <svg
            aria-hidden="true"
            class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M3 3a1 1 0 00-1 1v12a1 1 0 102 0V4a1 1 0 00-1-1zm10.293 9.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L14.586 9H7a1 1 0 100 2h7.586l-1.293 1.293z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <span class="flex-1 ml-3 whitespace-nowrap">Sign In</span>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
        >
          <svg
            aria-hidden="true"
            class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M5 4a3 3 0 00-3 3v6a3 3 0 003 3h10a3 3 0 003-3V7a3 3 0 00-3-3H5zm-1 9v-1h5v2H5a1 1 0 01-1-1zm7 1h4a1 1 0 001-1v-1h-5v2zm0-4h5V8h-5v2zM9 8H4v2h5V8z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <span class="flex-1 ml-3 whitespace-nowrap">Sign Up</span>
        </a>
      </li>
    </ul>
  </div>
</aside>

<!-- ////////////////////////////////////////////////////////////// -->
