.activeline1__bars-menu {
  transform: rotate(45deg) translate(-2px, 1px);
}

.activeline2__bars-menu {
  opacity: 0;
  margin-left: -30px;
}

.activeline3__bars-menu {
  transform: rotate(-45deg) translate(-4px, 2px);
}

.active span:nth-child(1) {
  width: 2rem;

  transform: translateY(8px) translateX(-4px) rotate(405deg);
}
.active span:nth-child(2) {
  left: 9rem;
}

.active span:nth-child(3) {
  width: 2rem;

  transform: translateY(-8px) translateX(-5px) rotate(315deg);
}

.animacion:hover {
  animation-duration: 0.3s;
  animation-name: zoom;
}

.listitafocus2 {
  display: block;
}
.buscadorcito {
}

.buscadorcito::-webkit-scrollbar {
  position: relative;
  bottom: -10px;
  width: 5px;
  height: 10px;
  background: rgb(8, 14, 40);
  margin-top: 5px;
}
.buscadorcito::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #00bcff, rgb(0, 122, 255));
  border-radius: 10px;
  margin-top: 5px;
}

@keyframes zoom {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.07);
  }
}
.coverRegister {
  z-index: 100;
}
.boton {
  z-index: 80;
}
.registermodalview {
  display: block;
}
.cover {
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease-in-out;
}

.toggle span {
  transition: all 0.3s ease;
  left: 13px;
  z-index: 9999;
}

.toggle:hover {
}

.toggle :nth-child(2) {
  top: 22px;
}
.toggle :nth-child(3) {
  top: 30px;
}

.sidebar {
  background-color: rgb(8, 14, 40);
  max-height: 100vh;
  transition: all 0.3s ease-in-out;
}
.sidebar::-webkit-scrollbar {
  position: relative;
  bottom: -10px;
  width: 5px;
  height: 10px;
  background: rgb(8, 14, 40);
  margin-top: 5px;
  border-radius: 20px;
}
.sidebar::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #00bcff, rgb(0, 122, 255));
  border-radius: 10px;
  margin-top: 5px;
}

.sidebaractive {
  left: 0;
}
.coveractive {
  right: 0;
}
.place {
  border: 1px solid rgba(61, 79, 145, 0.5);
  transition: all 0.3s ease-in-out;
}
.place::placeholder {
  position: relative;
  top: 0px;
  left: 0px;
  font-size: 16px;
  z-index: 9;
  color: rgb(134, 152, 179);
  width: max-content;
  background-color: rgba(8, 15, 40, 0.5);
}

.fondo {
  background-color: rgb(30, 39, 71);
}

.displaySeries {
  height: 72px;
}
.displayOpciones {
  height: 75px;
}

.displayGeneros {
  height: 376px;
}

.fondo {
  background-color: rgb(30, 39, 71);
}
.fondito:hover {
  background-color: #080f28;
}

.displayOption {
  display: block;
}

.que::before {
  content: "\f04b";
  animation-duration: 0.3s;
  display: none;
  position: absolute;
  width: 2rem;
  height: 2rem;
  line-height: 1.8rem;
  border: 2px solid #fff;
  border-radius: 50%;
  font-size: 1rem;
  text-align: center;

  font-family: "Font Awesome 5 Free";
  font-weight: bold;

  color: white;

  z-index: 20;

  animation-name: zoomIn;

  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  /* content: "\f04b";
  width: 3.75rem;
  height: 3.75rem;
  line-height: 3.75rem;
  text-align: center;
  border: 2px solid #fff;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  border-radius: 50%;
  font-size: 1.25rem;

  color: black; */
}

.que::after {
  display: none;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: scale(15);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  animation-name: zoomIn;
  animation-duration: 0.4s;
  overflow: hidden;
}

.que2:hover .que::before {
  display: block;
}

.que2:hover .que::after {
  z-index: 10;
  display: block;
  transition: all 0.3s ease-in-out;
}
.register {
  width: 400px;
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input {
  transition: all 0.3s ease-in-out;
  background-color: rgb(18, 20, 39);
}

svg {
  color: rgb(0, 122, 255);
}

@media screen and (max-width: 520px) {
  .register {
    width: 80%;
  }
}
