<div class="fixed top-5 right-5 lg:hidden cursor-pointer boton">
  <div
    #toggle
    class="toggle w-12 h-12 bg-blue-600 transition-all duration-200 ease-in-out shadow-x1 rounded-x1 hover:scale-105 rounded-full overflow-x-hidden z-50"
  >
    <span class="rounded-md w-4 bg-white absolute h-1 top-3.5"></span>
    <span class="rounded-md w-6 bg-white absolute h-1"></span>
    <span class="rounded-md w-5 bg-white absolute h-1"></span>
  </div>
</div>
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////// -->
<p
  #cover
  class="w-full h-screen fixed top-0 -right-full z-20 cover lg:hidden"
></p>
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////// -->
<aside
  #sidebar
  class="w-80 min-h-screen fixed overflow-y-auto -left-80 z-20 top-0 transition-all ease-in-out duration-300 lg:hidden sidebar overflow-x-hidden"
  aria-label="Sidebar"
>
  <div class="px-3 py-4 rounded mt-20">
    <section class="flex flex-col items-center justify-center gap-3">
      <form class="items-center rounded-3xl w-60">
        <div class="relative -left-3">
          <input
            (keydown.escape)="movieSearchInput2.blur()"
            (focus)="Focus()"
            (focusout)="OverFocus()"
            [autocomplete]="'off'"
            #movieSearchInput2
            (keydown.enter)="submit(movieSearchInput2.value)"
            (keyup)="keyupmovies(movieSearchInput2.value)"
            type="text"
            id="simple-search"
            class="w-64 text-lg rounded-3xl text-white focus:ring-blue-500 focus:border-blue-800 block pl-10 p-2.5 font-normal place"
            placeholder="Buscar películas..."
            required
          />
          <a [routerLink]="['/search', movieSearchInput2.value]">
            <span
              (click)="submit(movieSearchInput2.value)"
              class="absolute top-5 right-0 cursor-pointer hover:scale-125"
            >
              <svg
                (click)="keyupmovies(movieSearchInput2.value)"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="3"
                stroke="currentColor"
                class="w-4 h-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
                />
              </svg>
            </span>
          </a>
        </div>
        <div #listita2 class="z-50 mt-1 hidden">
          <ng-container *ngIf="listSearch$ | async">
            <ng-container *ngIf="listSearch$ | async as movies">
              <div
                class="absolute h-60 w-full left-0 buscadorcito fondo rounded-lg overflow-auto"
              >
                <ul
                  class="flex flex-col justify-between gap-2 w-full unorderList p-2 fondo max-h-16"
                >
                  <li
                    *ngFor="let i of movies"
                    class="fondo cursor-pointer items-center relative group lista z-50"
                  >
                    <a
                      [routerLink]="['/view/movie', i.id]"
                      class="flex justify-start items-center gap-4"
                    >
                      <div class="que2 relative overflow-hidden fondo">
                        <div class="que flex items-center fondo w-10">
                          <img
                            class="rounded-md object-cover fondo"
                            [src]="getURL(i.poster_path)"
                            alt=""
                          />
                        </div>
                      </div>
                      <section class="flex flex-col items-baseline">
                        <div
                          class="pt-2 text-white text-sm group-hover:text-blue-600 text-center fondo"
                        >
                          {{ i.title }}
                        </div>
                        <article class="flex gap-2">
                          <div class="text-yellow-500 text-xs">
                            {{ i.vote_average }}/10
                          </div>

                          <div class="text-xs text-blue-400">
                            {{ i.release_date }}
                          </div>
                        </article>
                      </section>
                    </a>
                  </li>
                </ul>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </form>
      <div class="flex justify-center gap-2">
        <button
          type="button"
          class="animacion w-32 text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 rounded-full text-md px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
        >
          Entrar
        </button>
        <button
          type="button"
          class="animacion w-32 text-white bg-blue-600 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 rounded-full textmd px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Registro
        </button>
      </div>
    </section>
    <ul
      class="space-y-2 transition-all ease-in-out duration-300 overflow-x-hidden"
    >
      <li>
        <a
          [routerLink]="['/home']"
          class="w-min flex items-center p-2 text-base font-normal text-white rounded-lg hover:text-blue-500"
        >
          <span class="ml-3">Inicio</span>
        </a>
      </li>
      <li>
        <button
          type="button"
          class="flex items-center w-min p-2 text-base font-normal text-white transition duration-75 rounded-lg group hover:text-blue-500"
          aria-controls="dropdown-example"
          data-collapse-toggle="dropdown-example"
        >
          <span
            class="flex-1 ml-3 text-left whitespace-nowrap"
            sidebar-toggle-item
            >Géneros</span
          >
          <svg
            sidebar-toggle-item
            class="w-6 h-6"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
        <ul
          id="dropdown-example"
          class="hidden py-2 space-y-2 transition-all ease-in-out duration-300 w-full"
        >
          <ul class="flex flex-wrap">
            <li class="w-1/2" *ngFor="let i of genres">
              <a
                class="flex items-center w-full p-2 text-sm font-normal transition duration-75 rounded-lg pl-11 group hover:text-blue-700 rounded-t fondito text-gray-400 py-2 px-5 whitespace-no-wrap min-w-max"
                [routerLink]="['/pelicula', i.name, i.id]"
                >{{ i.name }}</a
              >
            </li>
          </ul>
        </ul>
      </li>
      <li>
        <button
          type="button"
          class="flex items-center w-min p-2 text-base font-normal text-white transition duration-75 rounded-lg group hover:text-blue-500"
          aria-controls="dropdown-example"
          data-collapse-toggle="dropdown-example2"
        >
          <span
            class="flex-1 ml-3 text-left whitespace-nowrap"
            sidebar-toggle-item
            >Películas</span
          >
          <svg
            sidebar-toggle-item
            class="w-6 h-6"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
        <ul
          id="dropdown-example2"
          class="hidden py-2 space-y-2 w-80 transition-all ease-in-out duration-300"
        >
          <ul class="flex flex-wrap">
            <li
              #sidebarclose
              class=""
              (click)="variable2Change('estrenos'); scrollTo('peliculas')"
            >
              <a
                [routerLink]="'#peliculas'"
                class="rounded-t fondito hover:text-blue-700 py-2 px-4 whitespace-no-wrap flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group"
                >Estrenos</a
              >
            </li>
            <li
              #sidebarclose2
              class=""
              (click)="variable2Change('ranking'); scrollTo('peliculas')"
            >
              <a
                [routerLink]="'#peliculas'"
                class="rounded-t fondito hover:text-blue-700 py-2 px-4 whitespace-no-wrap flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group"
                >Ranking</a
              >
            </li>
            <li
              #sidebarclose3
              class=""
              (click)="variable2Change('vistas'); scrollTo('peliculas')"
            >
              <a
                [routerLink]="'#peliculas'"
                class="rounded-t fondito hover:text-blue-700 py-2 px-4 whitespace-no-wrap flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group"
                >Mas Vistas</a
              >
            </li>
            <li
              #sidebarclose4
              class=""
              (click)="variable2Change('proximamente'); scrollTo('peliculas')"
            >
              <a
                [routerLink]="'#peliculas'"
                class="rounded-t fondito hover:text-blue-700 py-2 px-4 whitespace-no-wrap flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group"
                >Proximamente</a
              >
            </li>
          </ul>
        </ul>
      </li>
      <li>
        <button
          type="button"
          class="flex items-center w-min p-2 text-base font-normal text-white transition duration-75 rounded-lg group hover:text-blue-500"
          aria-controls="dropdown-example"
          data-collapse-toggle="dropdown-example3"
        >
          <span
            class="flex-1 ml-3 text-left whitespace-nowrap"
            sidebar-toggle-item
            >Series</span
          >
          <svg
            sidebar-toggle-item
            class="w-6 h-6"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
        <ul
          id="dropdown-example3"
          class="hidden py-2 space-y-2 w-80 transition-all ease-in-out duration-300"
        >
          <ul class="flex flex-wrap">
            <li (click)="change()" class="">
              <a
                class="rounded-t fondito hover:text-blue-700 py-2 px-4 whitespace-no-wrap flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group"
                [routerLink]="'/series/Recientes'"
                >Recientes</a
              >
            </li>
            <li (click)="change()" class="">
              <a
                class="rounded-t fondito hover:text-blue-700 py-2 px-4 whitespace-no-wrap flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group"
                [routerLink]="'/series/Mas Vistas'"
                >Mas Vistas</a
              >
            </li>
            <li (click)="change()" class="">
              <a
                class="rounded-t fondito hover:text-blue-700 py-2 px-4 whitespace-no-wrap flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg pl-11 group"
                [routerLink]="'/series/Ranking'"
                >Ranking</a
              >
            </li>
          </ul>
        </ul>
      </li>
    </ul>
  </div>
</aside>
