<div
  class="fixed top-5 max-sm:right-4 max-lg:right-8 lg:hidden cursor-pointer boton"
>
  <div
    #toggle
    class="toggle w-12 h-12 bg-blue-600 transition-all duration-200 ease-in-out shadow-x1 rounded-x1 hover:scale-105 rounded-full overflow-x-hidden z-50"
  >
    <span class="rounded-md w-4 bg-white absolute h-1 top-3.5"></span>
    <span class="rounded-md w-6 bg-white absolute h-1"></span>
    <span class="rounded-md w-5 bg-white absolute h-1"></span>
  </div>
</div>
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////// -->
<p
  #cover
  class="w-full h-screen fixed top-0 -right-full z-20 cover lg:hidden"
></p>
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////// -->
<aside
  *appRecarga="recargar"
  #sidebar
  class="w-80 min-h-screen fixed overflow-y-auto -left-80 z-20 top-0 transition-all ease-in-out duration-300 lg:hidden sidebar overflow-x-hidden"
  aria-label="Sidebar"
>
  <div class="px-3 py-4 rounded mt-20">
    <section class="flex flex-col items-center justify-center gap-3">
      <form class="items-center rounded-3xl w-60">
        <div class="relative -left-3">
          <input
            (keydown.escape)="movieSearchInput2.blur()"
            (focus)="Focus()"
            (focusout)="OverFocus()"
            [autocomplete]="'off'"
            #movieSearchInput2
            (keydown.enter)="submit(movieSearchInput2.value)"
            (keyup)="keyupmovies(movieSearchInput2.value)"
            type="text"
            id="simple-search"
            class="w-64 text-lg rounded-3xl text-white focus:ring-blue-500 focus:border-blue-800 block pl-10 p-2.5 font-normal place"
            placeholder="Buscar películas..."
            required
          />
          <a [routerLink]="['/search', movieSearchInput2.value]">
            <span
              (click)="submit(movieSearchInput2.value)"
              class="absolute top-5 right-0 cursor-pointer hover:scale-125"
            >
              <svg
                (click)="keyupmovies(movieSearchInput2.value)"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="3"
                stroke="currentColor"
                class="w-4 h-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
                />
              </svg>
            </span>
          </a>
        </div>
        <div #listita2 class="z-50 mt-1 hidden">
          <ng-container *ngIf="listSearch$ | async">
            <ng-container *ngIf="listSearch$ | async as movies">
              <div
                class="absolute h-60 w-full left-0 buscadorcito fondo rounded-lg overflow-auto"
              >
                <ul
                  class="flex flex-col justify-between gap-2 w-full unorderList p-2 fondo max-h-16"
                >
                  <li
                    *ngFor="let i of movies"
                    class="fondo cursor-pointer items-center relative group lista z-50"
                  >
                    <a
                      [routerLink]="['/view/movie', i.id]"
                      class="flex justify-start items-center gap-4"
                    >
                      <div class="que2 relative overflow-hidden fondo">
                        <div class="que flex items-center fondo w-10">
                          <img
                            class="rounded-md object-cover fondo"
                            [src]="getURL(i.poster_path)"
                            alt=""
                          />
                        </div>
                      </div>
                      <section class="flex flex-col items-baseline">
                        <div
                          class="pt-2 text-white text-sm group-hover:text-blue-600 text-center fondo"
                        >
                          {{ i.title }}
                        </div>
                        <article class="flex gap-2">
                          <div class="text-yellow-500 text-xs">
                            {{ i.vote_average }}/10
                          </div>

                          <div class="text-xs text-blue-400">
                            {{ i.release_date }}
                          </div>
                        </article>
                      </section>
                    </a>
                  </li>
                </ul>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </form>
      <div class="flex justify-center gap-2">
        <ng-container *ngIf="!(user$ | async); else user">
          <button
            (click)="Login()"
            type="button"
            class="animacion w-32 text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 rounded-full text-md px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
          >
            Entrar
          </button>
          <button
            (click)="Register()"
            type="button"
            class="animacion w-32 text-white bg-blue-600 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 rounded-full textmd px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            Registro
          </button>
        </ng-container>
      </div>
      <ng-template #user>
        <div
          class="lg:flex hidden gap-1 items-center justify-center group hover:cursor-pointer h-16"
        >
          <figure
            class="relative w-6 h-6 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600"
          >
            <svg
              class="absolute w-6 h-6 text-gray-400 left-0 top-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </figure>

          <div class="text-sm text-white hover:text-blue-600">
            {{ user$ | async }}
          </div>

          <svg
            class="fill-current h-4 w-4"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
          >
            <path
              d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
            />
          </svg>
          <ul
            class="absolute usuariosvg hidden text-gray-700 pt-1 group-hover:block transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 listitas2 rounded text-sm"
          >
            <li class="">
              <a
                class="rounded-t fondito text-white hover:text-blue-700 py-2 px-4 block whitespace-no-wrap"
                [routerLink]="'/profile'"
                >Mi Pefil</a
              >
            </li>
            <li class="">
              <a
                class="fondito py-2 text-white px-4 hover:text-blue-700 block whitespace-no-wrap"
                (click)="closeSesion()"
                >Cerrar Sesión</a
              >
            </li>
          </ul>
        </div>
      </ng-template>
    </section>
    <ul
      class="space-y-2 transition-all ease-in-out duration-300 overflow-x-hidden"
    >
      <li>
        <a
          [routerLink]="['/home']"
          class="w-min flex items-center p-2 text-base font-normal text-white rounded-lg hover:text-blue-500"
        >
          <span class="ml-3">Inicio</span>
        </a>
      </li>
      <li>
        <button
          (click)="generosDisplay()"
          type="button"
          class="flex items-center w-min p-2 text-base font-normal text-white transition duration-75 rounded-lg group hover:text-blue-500"
          aria-controls="dropdown-example"
          data-collapse-toggle="dropdown-example"
        >
          <span
            class="flex-1 ml-3 text-left whitespace-nowrap"
            sidebar-toggle-item
            >Géneros</span
          >
          <svg
            sidebar-toggle-item
            class="w-6 h-6"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>

        <ul
          #generosList
          class="flex-wrap flex w-64 h-0 transition-all ease-in-out duration-300 fondo ml-10 rounded-md text-white overflow-hidden"
        >
          <li class="w-1/2" *ngFor="let i of genres">
            <a
              class="flex items-center w-full p-2 text-sm font-normal transition duration-75 rounded-lg group hover:text-blue-700 rounded-t fondito text-gray-400 py-2 whitespace-no-wrap min-w-max"
              [routerLink]="['/pelicula', i.name, i.id]"
              >{{ i.name }}</a
            >
          </li>
        </ul>
      </li>
      <li>
        <button
          (click)="peliculasDisplay()"
          type="button"
          class="flex items-center w-min p-2 text-base font-normal text-white transition duration-75 rounded-lg group hover:text-blue-500"
          aria-controls="dropdown-example"
          data-collapse-toggle="dropdown-example2"
        >
          <span
            class="flex-1 ml-3 text-left whitespace-nowrap"
            sidebar-toggle-item
            >Películas</span
          >
          <svg
            sidebar-toggle-item
            class="w-6 h-6"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>

        <ul
          #peliculasList
          class="flex-wrap flex w-64 h-0 transition-all ease-in-out duration-300 fondo ml-10 rounded-md text-white overflow-hidden"
        >
          <li #sidebarclose class="w-1/2">
            <a
              [routerLink]="'/pelicula/Estrenos'"
              class="rounded-t fondito hover:text-blue-700 py-2 whitespace-no-wrap flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg group"
              >Estrenos</a
            >
          </li>
          <li #sidebarclose2 class="w-1/2">
            <a
              [routerLink]="'/pelicula/Ranking'"
              class="rounded-t fondito hover:text-blue-700 py-2 whitespace-no-wrap flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg group"
              >Ranking</a
            >
          </li>
          <li #sidebarclose3 class="w-1/2">
            <a
              [routerLink]="'/pelicula/Mas Vistas'"
              class="rounded-t fondito hover:text-blue-700 py-2 whitespace-no-wrap flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg group"
              >Mas Vistas</a
            >
          </li>
          <li #sidebarclose4 class="w-1/2">
            <a
              [routerLink]="'/pelicula/Proximamente'"
              class="rounded-t fondito hover:text-blue-700 py-2 whitespace-no-wrap flex items-center w-full p-2 text-sm font-normal text-gray-400 transition duration-75 rounded-lg group"
              >Proximamente</a
            >
          </li>
        </ul>
      </li>
      <li class="transition-all duration-1000 ease-in-out">
        <button
          (click)="seriesDisplay()"
          type="button"
          class="flex items-center w-min p-2 text-base font-normal text-white transition duration-75 rounded-lg group hover:text-blue-500"
          aria-controls="dropdown-example"
          data-collapse-toggle="dropdown-example3"
        >
          <span
            class="flex-1 ml-3 text-left whitespace-nowrap"
            sidebar-toggle-item
            >Series</span
          >
          <svg
            sidebar-toggle-item
            class="w-6 h-6"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
        <ul
          #seriesList
          class="flex-wrap flex w-64 h-0 transition-all ease-in-out duration-300 fondo ml-10 rounded-md text-gray-400 overflow-hidden"
        >
          <li class="w-1/2" (click)="change()">
            <a
              class="rounded-t fondito hover:text-blue-700 py-2 whitespace-no-wrap flex items-center w-full p-2 text-sm font-normal transition duration-75 rounded-lg group"
              [routerLink]="'/series/Recientes'"
              >Recientes</a
            >
          </li>
          <li (click)="change()" class="w-1/2">
            <a
              class="rounded-t fondito hover:text-blue-700 py-2 whitespace-no-wrap flex items-center w-full p-2 text-sm font-normal transition duration-75 rounded-lg group"
              [routerLink]="'/series/Mas Vistas'"
              >Mas Vistas</a
            >
          </li>
          <li (click)="change()" class="w-1/2">
            <a
              class="rounded-t fondito hover:text-blue-700 py-2 whitespace-no-wrap flex items-center w-full p-2 text-sm font-normal transition duration-75 rounded-lg group"
              [routerLink]="'/series/Ranking'"
              >Ranking</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
</aside>

<div #register class="hidden fixed top-0 left-0 w-screen h-screen z-20">
  <div
    (click)="Register()"
    class="absolute w-full h-full bg-black bg-opacity-70 top-0 left-0 coverRegister"
  ></div>
  <app-register
    class="register h-max"
    [user$]="user$"
    [registerModal]="{ nativeElement: register }"
    [register]="registerActive"
  ></app-register>
</div>
<div #login class="hidden fixed top-0 left-0 w-screen h-screen z-[100]">
  <div
    (click)="Login()"
    class="absolute w-full h-full bg-black bg-opacity-70 top-0 left-0 coverRegister"
  ></div>
  <app-login
    [loginActive]="loginActive"
    [loginModal]="{ nativeElement: login }"
    class="register fixed h-max"
  ></app-login>
</div>
